.footer {
  padding: 60px 0;
  background-color: $background-main-color;
}

.address {
  display: flex;
  // width: 330px;
  width: 232px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @include dekstop {
    display: block;
  }
}
.address__text {
  @extend %link;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-title-color;
}
.сommunications {
  @extend %list;
  text-align: center;
  @include dekstop {
    text-align: start;
  }
}

.сommunications__email,
.сommunications__tel {
  @extend %link;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color $transition-duration $transition-timing-function;
}
.сommunications__email:hover,
.сommunications__email:focus,
.сommunications__tel:hover,
.сommunications__tel:focus {
  color: $accent-color;
}
.сommunications__tel--change {
  color: $footer-tel-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.сommunications__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.join {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
    // padding-top: 12px;
  }
  @include dekstop {
    margin-right: 70px;  
  }
}
.join__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-title-color;
  @include dekstop {
    display: block;
    text-align: start;
  }
 

}

.web {
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $main-title-color;

  transition: background-color $transition-duration $transition-timing-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.subscribe {
  @include tablet {
  margin-left: auto;
  margin-right: auto;  
}
@include dekstop {
  margin-left: 0;
  margin-right: 0;
  // width: 570px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin-left: 93px;
}
}
.info {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  margin-bottom: 60px;
  @include tablet {

  }
}