.header {
  border: 1px solid $border-header-color;
  background-color: $background-color;
}

// .memu-container {
//   display: flex;
// }

.menu-open {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: $background-color;
  cursor: pointer;
}