.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid $outline-color;
    @include mobile {
      max-width: 480px;
    }
  
    @include tablet {
      max-width: 768px;
    }
  
    @include dekstop {
      max-width: 1200px;
    }

  .main & {
    @include dekstop {
      width: 696px;
    }
  }
  .footer & {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      align-items: baseline;
    }
    @include dekstop {
      display: flex;
      flex-wrap: nowrap;
      align-items: unset;
      justify-content: space-between;

    }
  }
  
}

.container--page-studia {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container--page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--page-container {

  padding-left: 15px;
  padding-right: 15px;
}

.container--padding {
  // padding: 48px 40px;
  // padding-right: 40px;
}

