.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  // outline: 2px solid $outline-color;
    @include mobile {
      width: 480px;
    }
  
    @include tablet {
      width: 768px;
    }
  
    @include dekstop {
      width: 1200px;
    }

  .main & {
    @include dekstop {
      width: 696px;
    }
  }
  .footer & {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
    }
    @include dekstop {
      display: flex;
    }
  }
  
}

.container--page-studia {
  display: flex;
  align-items: center;
}
.container--page-header {
  display: flex;
  align-items: center;
}

.container--page-container {
  padding-left: 15px;
  padding-right: 15px;
}

.container--padding {
  padding-left: 40px;
  // padding-right: 40px;
}