.association {
    @include tablet {
        display: flex;
        align-content: space-around;
        margin-bottom: 60px;
    @include dekstop {
        margin-bottom: 0;
    }

    }
    
}
.logo { 
    margin-bottom: 60px;
    @include mobile {
        margin-bottom: 60px;
    }
    @include tablet {
        display: inline-block;
        padding-left: 76px;
        padding-right: 165px;
        margin-bottom: 0;
    }
    @include dekstop {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin-right: 70px;
        
    }
}
.logo__web {
    @extend %link;
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    // font-size: 26px;
    // line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $accent-color;
    @include dekstop {
        text-align: start;
    }
}

.logo__studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    // font-size: 26px;
    // line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-title-color;
}