.header__web {
  @extend %link;
  padding: 16px 0;
  @include tablet {
    padding: 26px 0;
  }
  @include dekstop {
    padding: 24px 0;
  }

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  @include dekstop {
  font-size: 26px;
  line-height: 1.19;  
  }
  letter-spacing: 0.03em;
  color: $accent-color;
  
}
.header__studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  @include dekstop {
  font-size: 26px;
  line-height: 1.19;
  }
  letter-spacing: 0.03em;
  color: $title-text-color;
}
