.logo { 
    @include tablet {
        display: inline-block;
        margin-bottom: 60px;
        margin-left: 75px;
        margin-right: 165px;
    }
    @include dekstop {
        margin-left: 0px;
        margin-right: 70px;
        margin-bottom: 0;
        
    }
    margin-bottom: 60px;
}
.logo__web {
    @extend %link;
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    // font-size: 26px;
    // line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $accent-color;
    @include dekstop {
        text-align: start;
        width: 45px;
    }
}

.logo__studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    // font-size: 26px;
    // line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-title-color;
}